body {
  background-color: lightcyan !important;
}

.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0, 0.8),rgba(0,0,0, 0.2)),
    url("../imgs/background.jpeg");
    background-size: cover;
}
.intro{
    color: lavender;
    padding: 10% 20%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;

}

.name{
    font-size: 50px;
    font-weight: 500;

}

.card{
    background: linear-gradient(rgba(124, 101, 226, 0.8),rgba(0,0,0, 0.8))
}